    <h1>Create fake posts</h1>
<div class="row">
    
    <form action="/admin/generate-fake-posts" method="post">
        <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="number" name="amount" class="form-control" id="amount">
        </div>
        <button type="submit">Go</button>

    </form>
</div>