<h1>comments</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Owner</th>
            <th>Author</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each comments}}
         <tr>
            <td>{{id}}</td>
            <td>{{user}}</td>
            <td>{{date}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>